body {
  background: whitesmoke;
}
h1 {
  color: black;
}

.search-repo {
  margin-right: 20px;
}
.contributors-container {
  margin-left: 20px;
}
.contributors-container img {
  width: 180px;
}
li {
  cursor: pointer;
}
.contributors-container li {
  text-transform: uppercase;
  font-size: 1.2em;
}
.message {
  font-size: 1.5em;
  color: rgb(69, 61, 61);

  padding: 30px;
  text-align: center;
  letter-spacing: 1px;
}
.ul-list {
  font-size: 1.3em;
  line-height: 3rem;
}
.search-container {
  position: relative;
}
.search-container i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 28px;
  color: #aaa;
  transition: 0.3s;
}
.search-container input {
  padding-left: 50px;
}
.search-container input:focus + i {
  color: dodgerblue;
}
.contributors-container button {
  width: 200px;
  height: 4rem;
  margin-right: 4px;
  border: 2px solid rgba(170, 170, 170, 0.5);
}
.contributors-container i {
  margin-right: 5px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 280px;
  padding: 9px 9px;
  margin-bottom: 5px;
  margin-right: 4px;
  float: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}
.site-footer {
  background: rgba(91, 85, 85, 0.619);
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  clear: both;
  color: white;
}
.site-footer li {
  list-style: none;
  text-transform: uppercase;
}
.site-footer li a {
  color: white;
}
.main-container {
  height: 80vh;

}
.site-footer .container {
  display: flex;
}
.footer-nav {
  width: 30%;
}
