body{
    background: whitesmoke;
}
h1{
    color:black;
}

.search-repo{
    margin-right : 20px;
}
.contributors-container{
    margin-left: 20px;
}
.contributors-container img{
    width: 200px;
    margin-right: 10px;

}
li{
    cursor: pointer;
}