body{
    background: whitesmoke;
}
h1{
    color:black;
}

.search-repo{
    margin-right : 20px;
}
.contributors-container{
    margin-left: 20px;
}
.contributors-container img{
    width: 200px;
    margin-right: 10px;

}
li{
    cursor: pointer;
}
.contributors-container li{
    text-transform: uppercase;
    font-size:1.2em;
}
.message{
    font-size: 1.5em;
    color:rgb(69, 61, 61);

    padding:30px;
    text-align: center;
    letter-spacing: 1px;

}
.ul-list{
    font-size: 1.3em;
    line-height: 3rem;
}
.search-container{
    position: relative;
}
.search-container i{
    position: absolute;
    left:0;
    top:8px;
    padding:9px 18px;
    color:#aaa;
    transition:.3s;
}
.search-container input{
    padding-left:50px;
}  
.search-container input:focus + i{
    color:dodgerblue;
}
