body {
  background: whitesmoke;
}
h1 {
  color: black;
  padding-bottom: 20px;
}

.head-line {
  text-align: center;
}
.btn {
  margin-bottom: 5px;
  margin-right: 5px;
}
.input-repo {
  margin-right: 10px;
}
